body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.fa-star {
  margin: 0.5em;
  font-size: 24px;
  color:gold;
}

span {
  display: inline-block;
  font-weight: bold;
  font-size: 1em;
  margin: 0.5em;
  text-align: center;
  background-color: #ccc;
  width: 24px;
  border-radius: 50%;
  cursor: pointer;
}

.selected {
  background-color: #eee;
  color:#ddd;
  cursor: not-allowed;
}

.used {
  background-color: #aaddaa;
  color:#99bb88;
  cursor:not-allowed;
}